<div class="currency-converter">
  <app-header></app-header>
  
  <div class="converter-container">
    <h2>Currency Converter</h2>
    
    <div class="conversion-section">
      <div class="input-group">
        <label>Amount (From):</label>
        <input [(ngModel)]="amountFrom" type="number" (ngModelChange)="convertCurrency('from')"/>
      </div>

      <div class="input-group">
        <label>From Currency:</label>
        <select [(ngModel)]="selectedFromCurrency" (ngModelChange)="convertCurrency('from')">
          <option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</option>
        </select>
      </div>
    </div>
    
    <button class="switch-button" (click)="switchCurrencies()">
      <i class="fas fa-sync-alt fa-spin"></i>
    </button>
    
    <div class="conversion-section">
      <div class="input-group">
        <label>Amount (To):</label>
        <input [(ngModel)]="amountTo" type="number" (ngModelChange)="convertCurrency('to')" />
      </div>

      <div class="input-group">
        <label>To Currency:</label>
        <select [(ngModel)]="selectedToCurrency" (ngModelChange)="convertCurrency('to')">
          <option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</option>
        </select>
      </div>
    </div>
  </div>
</div>