.currency-converter {
  max-width: 600px;
  margin: 0 auto;
  font-family: 'Segoe UI';
  position: relative;
}

.converter-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}

h2 {
  color: #333;
  font-family: 'Segoe UI';
  text-align: center;
}

.conversion-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.input-group {
  flex: 1;
  margin-right: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.switch-button {
  background-color: #3482db;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  position: relative;
  left: 44%;
}

.switch-button:hover {
  background-color: #2e60cc;
  transition: background-color 0.3s ease-in-out;
}

.result-section {
  background-color: #f0f0f0;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}
